flows (1).json
[
  {
    "id": "690389083c763952",
    "type": "inject",
    "z": "f46590ac71a87bb1",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "",
    "x": 330,
    "y": 320,
    "wires": [["85d94182ffeae1ce"]]
  },
  {
    "id": "85d94182ffeae1ce",
    "type": "function",
    "z": "f46590ac71a87bb1",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 320,
    "wires": [["b5e51b10ba5c1515"], ["af54d13c57967bcf"]]
  },
  {
    "id": "b5e51b10ba5c1515",
    "type": "debug",
    "z": "f46590ac71a87bb1",
    "name": "Success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 280,
    "wires": []
  },
  {
    "id": "af54d13c57967bcf",
    "type": "debug",
    "z": "f46590ac71a87bb1",
    "name": "Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 360,
    "wires": []
  }
]
