flows (1).json
[
  {
    "id": "690389083c763952",
    "type": "inject",
    "z": "f46590ac71a87bb1",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "",
    "x": 330,
    "y": 320,
    "wires": [["85d94182ffeae1ce"]]
  },
  {
    "id": "85d94182ffeae1ce",
    "type": "function",
    "z": "f46590ac71a87bb1",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 320,
    "wires": [["b5e51b10ba5c1515"], ["fca7eddfbb4b8983"]]
  },
  {
    "id": "b5e51b10ba5c1515",
    "type": "debug",
    "z": "f46590ac71a87bb1",
    "name": "Success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 280,
    "wires": []
  },
  {
    "id": "af54d13c57967bcf",
    "type": "debug",
    "z": "f46590ac71a87bb1",
    "name": "Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 440,
    "wires": []
  },
  {
    "id": "fca7eddfbb4b8983",
    "type": "function",
    "z": "f46590ac71a87bb1",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 400,
    "wires": [["38d2c21bfd6eb9b5"]]
  },
  {
    "id": "38d2c21bfd6eb9b5",
    "type": "switch",
    "z": "f46590ac71a87bb1",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 400,
    "wires": [["808f7f306e4ae724"], ["af54d13c57967bcf"]]
  },
  {
    "id": "808f7f306e4ae724",
    "type": "debug",
    "z": "f46590ac71a87bb1",
    "name": "Success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 820,
    "y": 360,
    "wires": []
  }
]
